@import "tailwindcss";

@theme {
    --font-inkFree: "InkFree", system-ui;
    --font-chewy: "Chewy", system-ui;
    --font-mynerve: "Mynerve", cursiva;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --theme-gradient: linear-gradient(
        to bottom,
        rgb(255 245 214) 0%,
        rgb(255 254 253) 100%
    );
    --card-size-inline: 500px;
    --card-aspect-ratio: 1291/2161;
    --card-font-family-chewy: "Chewy", system-ui;
    --card-font-family-mynerve: "Mynerve", cursiva;
}
